.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: averta_stdregular;
  src: local('averta_stdregular'), url(./images/regular.woff2) format('woff2');
  
}

@font-face {
  font-family: AvertaStd-Bold;
  src: local('AvertaStd-Bold'), url(./images/bold.woff2) format('woff2');
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar{
  z-index: 100;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}


.rec-arrow-right{
  visibility: hidden;
}

.rec-arrow-left{
  visibility: hidden;
}

.rec-dot_active{
  background-color: #61dafb !important;
  box-shadow: 0 0 1px 3px rgb(59, 219, 83) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
